* {
    box-sizing: border-box;
  }

#border{
    border: 1px solid black;
    margin-top:20px;
    margin-left:50px;
    margin-right: 70px;
    background-color:palegoldenrod;
}
  
#ad{
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
#img::after {
    content: "";
    clear: both;
    display: table;
  }

button{
    margin-left:80%;
    padding:10px;
    width:10%;
    height:100%;
}